#!/bin/sh

# shellcheck source=./dot_local/share/shell/lib.sh.tmpl
. "{{ .xdg.dataDir }}/shell/lib.sh"

if ! dot_has starship; then
	dot_log "Installing Starship shell..."
	# {{- if eq .chezmoi.os "darwin" }}
	brew install starship
	# {{- else }}
	sh -c "$(dot_fetch https://starship.rs/install.sh)" -- \
		--bin-dir "${HOME}/.local/bin" \
		--force
	# {{- end }}
else
	dot_log "Starship shell already installed"
fi
