[[ssh-keys]]
vault = "Private"
item = "mbkcv2jvtvwxmaueznnaln3k5y"

[[ssh-keys]]
vault = "Private"
item = "uxrzrqrhtrlkontxsttqiiucqy"

[[ssh-keys]]
vault = "Private"
item = "pfejlgsekv4xu5moieyygeslfe"

[[ssh-keys]]
vault = "SnapServ"
item = "u6gzb74desfs52r7irkigrspwe"

[[ssh-keys]]
vault = "SnapServ"
item = "neuyjb3zc3kgeonr6czs3xq6gy"
