#!/bin/sh

# shellcheck source=./lib.sh.tmpl
. "{{ .xdg.dataDir }}/shell/lib.sh"

# [ENV] XDG Base Directories
################################################################################
export XDG_CACHE_HOME="{{ .xdg.cacheDir }}"
export XDG_CONFIG_HOME="{{ .xdg.configDir }}"
export XDG_DATA_HOME="{{ .xdg.dataDir }}"
export XDG_STATE_HOME="{{ .xdg.stateDir }}"

# [ENV] XDG Directory Mappings
################################################################################
export _JAVA_OPTIONS="-Djava.util.prefs.userRoot=\"${XDG_CONFIG_HOME}/java\""
export AWS_CONFIG_FILE="${XDG_CONFIG_HOME}/aws/config"
export AWS_SHARED_CREDENTIALS_FILE="${XDG_CONFIG_HOME}/aws/credentials"
export CARGO_HOME="${XDG_DATA_HOME}/cargo"
export FFMPEG_DATADIR="${XDG_CONFIG_HOME}/ffmpeg"
export GOPATH="${XDG_DATA_HOME}/go"
export NODE_REPL_HISTORY="${XDG_DATA_HOME}/node_repl_history"
export NVM_DIR="${XDG_DATA_HOME}/nvm"
export PYTHON_EGG_CACHE="${XDG_CACHE_HOME}/python-eggs"
export WGETRC="${XDG_CONFIG_HOME}/wgetrc"

# [ENV] Path
################################################################################
dot_path_prepend "${HOME}/.local/bin"

# [ENV] Editor
################################################################################
EDITOR="$(dot_alternative vim nano vi)"
export EDITOR

# [ENV] Locale
################################################################################
export LANG="${LANG:-en_US.UTF-8}"
export LC_ALL="${LC_ALL:-en_US.UTF-8}"

# [ENV] Utilities
################################################################################
export GOPROXY="https://proxy.golang.org,direct"
export MANPAGER="less -X"
export PYTHONIOENCODING="UTF-8"

# [ALIAS] Nesting
################################################################################
alias sudo='sudo '
alias watch='watch '
alias xargs='xargs '

# [ALIAS] Directory Traversal
################################################################################
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# [ALIAS] Safety Measures
################################################################################
alias cp='cp -i'
alias mv='mv -i'

# {{- if eq .chezmoi.os "linux" }}
alias chgrp='chgrp --preserve-root'
alias chmod='chmod --preserve-root'
alias chown='chown --preserve-root'
alias rm='rm -I --preserve-root'
# {{- end }}

# [ALIAS] Shell Helpers
################################################################################
alias bell='tput bel'
alias path='echo -e "${PATH//:/\\n}"'
alias reload='exec ${SHELL} -l'

# [ALIAS] Compatibility
################################################################################
dot_has md5sum || alias md5sum="md5"
dot_has sha1sum || alias sha1sum="shasum -a 1"
dot_has sha256sum || alias sha256sum="shasum -a 256"
dot_has sha512sum || alias sha512sum="shasum -a 512"
