[alias]
    c = commit
    cm = commit -m
    ca = !git add --all && git commit
    cam = !git add --all && git commit -m
    d = diff
    dc = diff --cached
    l = log --pretty=custom --graph
    p = pull --recurse-submodules
    s = status --short
    u = commit --amend --no-edit
    ua = !git add --all && git commit --amend --no-edit
    uap = !git add --all && git commit --amend --no-edit && git push --force-with-lease
    um = commit --amend

    branches = branch --list --all -vv
    clone = clone --recursive
    contributors = shortlog --summary --numbered --email
    git = !exec git
    remotes = remote -v
    tags = tag -l
    whoami = config user.email

    go = "!f() { git checkout -b \"$1\" 2>/dev/null || git checkout \"$1\"; }; f"
    sc = "!f() { git log --date=short --decorate --pretty=custom -S\"$1\"; }; f"
    sm = "!f() { git log --date=short --decorate --pretty=custom --grep=\"$1\"; }; f"

[apply]
    whitespace = fix

[core]
    attributesfile = {{ joinPath .xdg.configDir "git" "attributes" }}
    autocrlf = input
    excludesfile = {{ joinPath .xdg.configDir "git" "ignore" }}
    trustctime = false

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else }}
    helper = cache --timeout=3600
{{- end }}

[diff]
    renames = copies

[diff "bin"]
    textconv = hexdump -Cv

[includes]
    path = {{ joinPath .xdg.configDir "git" "local" }}

[init]
    defaultBranch = main

[merge]
    log = true

[pretty]
    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"

[pull]
    rebase = merges

[push]
    default = simple
    followTags = true

[user]
    email = dev@ppmathis.com
    name = Pascal Mathis
